@font-face {
  font-family: takraf3d;
  src: url(../fonts/Takraf-3d.otf);
}

@font-face {
  font-family: takrafVEB;
  src: url(../fonts/Takraf-VEB.otf);
}

/*===== Styles =====*/

body, html {
  width: 100vw;
  text-align: center;
  overflow-x: hidden;
}

.titleBox {
  box-sizing: border-box;
  width: 50%;
  margin: 0px auto;
  /*margin-top: 40px;*/
}

.boxer {
  text-align: center;
}

.myTitle {
  box-sizing: border-box;
  text-align: center;
  margin-top: 200px;
  font-family: takrafVEB;
  font-size: 55px;
  color: white;
  width: 100%;
  text-shadow: 4px 4px black;
}

.titleDesc {
  box-sizing: border-box;
  padding-top: 35px;
  text-align: center;
  font-family: takrafVEB;
  font-size: 45px;
  color: white;
  width: 100%;
  text-shadow: 3px 3px black;
}

.titleLink:link {
    color: white;
}

/* visited link */
.titleLink:visited {
    color: white;
}

/*====Footer====*/

.links {
  width: 100%;
  text-align: center;
  margin-top: 17%;
  font-size: 50px;
}

.fa {
  padding: 5px;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 1104px) {
  .titleBox {
    text-align: center;
    width: 100%;
  }

  .myTitle {
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .titleDesc {
    position: absolute;
    box-sizing: border-box;
    padding-top: 75px;
    margin-top: 220px;
    text-align: center;
    font-family: takrafVEB;
    font-size: 45px;
    color: white;
    width: 100%;
    text-shadow: 3px 3px black;
  }

  .links {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 480px;
    font-size: 50px;
  }
}

@media only screen and (max-width: 660px) {
    /* For mobile phones: */
    body {
      overflow: hidden;
    }
    .titleBox {
      text-align: center;
      width: 100%;
    }

    .myTitle {
      position: absolute;
      text-align: center;
      padding-right: 10px;
      font-size: 35px;
      width: 100%;
    }

    .titleDesc {
      position: absolute;
      box-sizing: border-box;
      padding-top: 35px;
      margin-top: 220px;
      text-align: center;
      font-family: takrafVEB;
      font-size: 24px;
      color: white;
      width: 100%;
      text-shadow: 3px 3px black;
    }

    .links {
      position: absolute;
      width: 100%;
      text-align: center;
      margin-top: 350px;
      font-size: 50px;
    }
}
